<div *ngIf="messengerService.getMessage()=='';else loggedIn">
    <div class="container">
        You are not logged in.

        Click <a routerLink="/login" style="color:red">here</a> to log in and <a routerLink="/signup" style="color:red">here</a> to register.
    </div>
</div>
<ng-template #loggedIn>
    <form class="form" style="padding-top: 50px">
    <div class="section">
        <input type="file" (change)="updateZip($event)" accept="application/zip"/>
    
    <button (click)="uploadZip()" > Upload! </button>
    <!--Add ngIfs here after it starts to work-->
    {{ this.ZipFileName }}   
    <div *ngIf="this.download;">
        <button (click)="Process()">Process this Zipfile</button>
    </div>

    </div>
    </form>
</ng-template>