<div *ngIf="messengerService.getMessage()=='';else loggedIn">
    <div class="container">
        You are not logged in.

        Click <a routerLink="/login" style="color:red">here</a> to log in and <a routerLink="/signup"
            style="color:red">here</a> to register.
    </div>
</div>
<ng-template #loggedIn>
<div class="h1">Change your password here</div>
<form class="form">
    <div class = "section">
        <label>Current Password</label>
        <input type="password" [formControl]="form_oldpassword" placeholder="Current Password" required/>
        <label>New Password</label>
        <input type="password" [formControl]="form_password" placeholder="New Password" required/>
        <label>Confirm New Password</label>
        <input type="password" [formControl]="form_confirmpw" placeholder="Confirm New Password" required/><br/>
        <button (click)="update()" href="/profile"> Change Password</button>
    </div>
</form>
</ng-template>