<div class="row">
    <div class="column">
    <h1> <img src="../../assets/akash.png" style="width:250px;height:250px;"> </h1>    
    <h4>Akash Cherukuri</h4>
    <h4>190050009</h4>
 </div>
<div class="column">
<h1> <img src="../../assets/amith.png" style="width:250px;height:250px;"> </h1>    
    <h4>Amit Rajaraman</h4>
    <h4>190050015</h4>
</div>
</div> 
    <div class="row">
      <div class="column">
      <h1><img src="../../assets/sudhansh.png" style="width:250px;height:250px;"></h1>    
    <h4>Sudhansh Peddabomma</h4>
    <h4>190050118</h4>
   </div>
  <div class="column">
  <h1><img src="../../assets/vigna.png" style="width:250px;height:250px;"></h1>    
    <h4>Surapaneni Sai Vigna</h4>
    <h4>190050121</h4>
 </div>
    </div>
