<div class="row">
    <div class="column">
    <h1> <video width="250px" height="250px" controls autoplay >
      <source src="../../assets/rick.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video> </h1>    
    <h4>Akash Cherukuri</h4>
    <h4>190050009</h4>
 </div>
<div class="column">
  <h1> <video width="250px" height="250px" controls autoplay >
    <source src="../../assets/rick.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video> </h1>    
      <h4>Amit Rajaraman</h4>
    <h4>190050015</h4>
</div>
</div> 
    <div class="row">
      <div class="column">
        <h1> <video width="250px" height="250px" controls autoplay >
          <source src="../../assets/rick.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video> </h1>    
        <h4>Sudhansh Peddabomma</h4>
    <h4>190050118</h4>
   </div>
  <div class="column">
    <h1> <video width="250px" height="250px" controls autoplay >
      <source src="../../assets/rick.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video> </h1>    
      <h4>Surapaneni Sai Vigna</h4>
    <h4>190050121</h4>
 </div>
    </div>
