<div *ngIf="messengerService.getMessage()!='';else loggedIn">
    <div class="container">
        Please logout before registering
    </div>
</div>
<ng-template #loggedIn>
<div class="h1">Sign Up Today!</div>
            <form action="register" method="post" class="form">
                <div class="section">
                    <label> First Name </label>
                    <input type="text" [formControl]="form_firstname" placeholder="First Name" required /><br />
                    <label> Last Name </label>
                    <input type="text" [formControl]="form_lastname" placeholder="Last Name" required /><br />
                    <label> Username </label>
                    <input type="text" [formControl]="form_username" placeholder="Username" required /><br />
                    <label> Email </label>
                    <input type="email" [formControl]="form_email" placeholder="abc@xyz.com" required /><br />
                    <label> Password </label>
                    <input type="password" [formControl]="form_password" placeholder="*********" required /><br />
                    <label> Confirm Password </label>
                    <input type="password" [formControl]="form_confirmpw" placeholder="*********" required /><br />
                    <button (click)="register()">Register</button>
                </div>
            </form>
</ng-template>