<div *ngIf="messengerService.getMessage()=='';else loggedIn">
    <div class="container">
        You are not logged in.

        Click <a routerLink="/login" style="color:red">here</a> to log in and <a routerLink="/signup"
            style="color:red">here</a> to register.
    </div>
</div>
<ng-template #loggedIn>
<div class="h1">Welcome, {{user}}! </div>
<div style="font-size: 35px; padding-top: 50px; color: grey; text-align: center;">What would you like to do?</div>
<form class="form">
<div class="section">
<a routerLink="/upload">
    <button style="height: 50px;">Upload Files</button>
</a>

<a routerLink="/changepassword">
    <button style="width: 60%; font-size: 20px;">Change Password</button>
</a>
</div></form>
</ng-template>
